# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Google Drive credentials
scripts/credentials.json
scripts/token.json

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Editor files
.vscode/
.idea/
*.swp
*.swo 